<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_1685715_b53292xz6m.css"></link>
	
	<style>
		html,body{
			margin: 0;
			padding: 0;
			height: 100%;
			width: 100%;
		}
		
		#bgimg{
			position: fixed;
			height: 100%;
			width: 100%;
			background-size: cover;
			background-position: center center;
			opacity:0.7;
			z-index:-1;
			filter: blur(5px);
		}
		
		.translist-enter-active, .translist-leave-active {
		  transition: all 1s;
		}
		.translist-enter, .translist-leave-to
		/* .list-leave-active for below version 2.1.8 */ {
		  opacity: 0;
		  transform: translateY(30px);
		}
	</style>
</head>

<body>
	<div id="bgimg"></div>
	<div class="container col-12 col-md-8" style="opacity: 0.7;">
		<div id="app">
			<div class="card"><div class="card-body">
				<div class="row">
					<input class="col-10 form-control" v-model="name" @keyup.13="off=0;search();"></input>
					<button class="btn btn-success col-2" @click="off=0;search();">
						<i class="iconfont iconsousuo" title="搜索"></i>
					</button>
				</div>
				
				<div class="row">
					<select class="form-control col-6" v-model="platform">
						<option v-for="i in platforms" :value="i.value">{{i.text}}</option>
					</select>
					<select class="form-control col-6" v-model="type">
						<option v-for="i in types" :value="i.value">{{i.text}}</option>
					</select>
				</div>
				<div class="row">
					<select class="form-control col-6" v-model="looptype">
						<option v-for="i in looptypes" :value="i.value">{{i.text}}</option>
					</select>
					<button class="form-control col-6" @click="playNext();" style="text-align: left;">下一首</button>
				</div>
				<div class="row">
					<audio style="width:100%;outline: medium;" ref="player" id="player" :src="nowmurl" controls="controls" autoplay="autoplay"></audio>
				</div>
				<audio class="col-12" ref="player2" id="player2" :src="nowmurl" controls="controls"  v-show="false"  autoplay="autoplay" crossorigin=""></audio>
				<p :style="{textShadow:'0px 0px '+nowlevel+'px #606975',fontSize:'20px',color:'#606975',textAlign:'center'}">{{nowlrc}}</p>
			</div></div>
			
			<transition-group name="translist">
				<music-list v-for="i in songList" :song="i" :key="i.key" @play="playMusic" 
				@search="startSearch" @download="download"></music-list>
			</transition-group>
			<button class="btn btn-block btn-success"
				@click="search();" :disabled="end" v-if="off">
			{{end?'木有了...':'加载更多'}}</button>
			
		</div>
	</div>
	
	
	<script>
		var vm = new Vue({ //主应用
			el:"#app",
			data:{
				name:"夜航星",
				platform:"C",
				type:"SONG",
				off:0,
				lim:20,
				end:false,
				searching:false,
				nowmid:"",
				nowmurl:"",
				nowlrcs:[],
				nowt:0,
				nowlrc:"",
				nowlevel:0,
				playing:0,
				looptype:"顺序",
				platforms:[
					{"text":"网易云","value":"C"},
					{"text":"QQ","value":"Q"}
				],
				types:[
					{"text":"歌曲","value":"SONG"},
					//{"text":"歌手","value":"ARTIST"},
					//{"text":"歌单","value":"PLAYLIST"},
					//{"text":"专辑","value":"ALBUM"},
					{"text":"歌词","value":"LYRIC"}
				],
				looptypes:[
					{"text":"顺序","value":"顺序"},
					{"text":"单曲","value":"单曲"},
					{"text":"随机","value":"随机"}
				],
				songList:[],
				playList:[]
			},
			methods:{
				search : function(){
					_this=this;
					if(this.searching)return;
					//console.log(this.platform+this.type+this.name);
					this.searching=true;
					if(this.platform=="C"){ //获取网易云音乐列表
						axios.get("https://v1.hitokoto.cn/nm/search/"+this.name,{
							params:{
								type:this.type,
								offset:this.off,
								limit:this.lim
								}
						}).then(function(r){
							if(_this.off==0)_this.end=false; //搜索归零
							if(_this.end)return; //已经到头
							if("songs" in r.data.result==false){
								_this.end=true;
								return;
							}
							res=r;
							for(i in r.data.result.songs)r.data.result.songs[i].id="C"+r.data.result.songs[i].id;
							if(_this.off==0)_this.songList=r.data.result.songs; //加入列表
							else _this.songList=_this.songList.concat(r.data.result.songs);
							
							if(r.data.result.songs.length<_this.lim)_this.end=true;
							_this.off++;
							_this.searching=false;
						});
					}
					
					if(this.platform=="Q"){ //获取QQ音乐列表
						axios.get("https://1426531544223608.cn-shanghai.fc.aliyuncs.com/2016-08-15/proxy/flwfdd-music/qqsearch/",{
							params:{
								name:this.name,
								type:this.type,
								offset:this.off,
								limit:this.lim
								}
						}).then(function(r){
							if(_this.off==0)_this.end=false; //搜索归零
							if(_this.end)return; //已经到头
							r=r.data;
							res=r;
							
							for(i in r)r[i].platform="Q";
							if(_this.off==0)_this.songList=r; //加入列表
							else _this.songList=_this.songList.concat(r);
							
							if(r.length<_this.lim)_this.end=true;
							_this.off++;
							_this.searching=false;
						});
					}
					
				},
				playMusic : function(key){
					_this=this;
					//console.log(key);
					if(this.playing)return;
					this.playing=3;
					if(key[0]=="C"){
						key=key.slice(1);
						axios.get("https://v1.hitokoto.cn/nm/url/"+key) //获取音乐直链
						.then(function(response){
							if(!response.data.data[0].url){
								
							}
							else{
								_this.nowmurl=response.data.data[0].url;
								if(typeof(analyser)=="undefined")_this.initau();
								
							}
							_this.playing--;
						})
						
						
						axios.get("https://v1.hitokoto.cn/nm/lyric/"+key) //获取歌词
						.then(function(response){
							_this.nowlrcs=[];
							if(response.data.nolyric){
								_this.nowlrcs=[[0,"木有歌词哦"]];
								_this.playing--;
								return;
							}
							s=response.data.lrc.lyric;
							l=s.split("\n");
							for(i=0;i<l.length;i++)
							{
								if(l[i]=="")continue;
								time_str=l[i].slice(1,l[i].search("]"));
								t=time_str.split(":")[0]*60+time_str.split(":")[1]*1.0;
								_this.nowlrcs.push([t,l[i].slice(l[i].search("]")+1)]);
							}
							_this.playing--;
						})
						
						
						axios.get("https://v1.hitokoto.cn/nm/detail/"+key) //获取标题、歌手、图片
						.then(function(response){
							//response.data.songs[0].ar.forEach(function(i,idx){_this.auth+=(idx!=0?" | ":"")+i.name});
							_this.imgurl=response.data.songs[0].al.picUrl;
							document.querySelector("#bgimg").style.backgroundImage="url("+_this.imgurl+")";
							
							for(i=0;i<_this.playList.length;i++){ //加入播放列表
								if(_this.playList[i].id=="C"+key){
									_this.playList.unshift(_this.playList.splice(i,1)[0]);
									_this.playing--;
									return;
								}
							}
							response.data.songs[0].id="C"+response.data.songs[0].id;
							_this.playList.unshift(response.data.songs[0]);
							_this.playing--;
						})
					}
					
					if(key[0]=="Q"){
						key=key.slice(1);
						axios.get("https://1426531544223608.cn-shanghai.fc.aliyuncs.com/2016-08-15/proxy/flwfdd-music/qqurl/?id="+key) //获取音乐直链
						.then(function(response){
							if(!response.data.url){
								
							}
							else{
								_this.nowmurl=response.data.url;
								if(typeof(analyser)=="undefined")_this.initau();
							}
							_this.playing--;
						})
						for(i in _this.songList){
							if(_this.songList[i].id=="Q"+key)r=_this.songList[i];
						}
						_this.imgurl="http://y.gtimg.cn/music/photo_new/T002R500x500M000"+r.albummid+".jpg";
						document.querySelector("#bgimg").style.backgroundImage="url("+_this.imgurl+")";
						
						_this.playing--;
						
						axios.get("https://1426531544223608.cn-shanghai.fc.aliyuncs.com/2016-08-15/proxy/flwfdd-music/qqlrc/?id="+key) //获取歌词
						.then(function(response){
							_this.nowlrcs=[];
							s=response.data.lyric;
							if(typeof(s)=="undefined")_this.nowlrcs=[[0,"木有歌词哦"]];
							else{
								l=s.split("\n");
								for(i=0;i<l.length;i++)
								{
									if(l[i]=="" || isNaN(Number(l[i][2])) )continue;
									time_str=l[i].slice(1,l[i].search("]"));
									t=time_str.split(":")[0]*60+time_str.split(":")[1]*1.0;
									_this.nowlrcs.push([t,l[i].slice(l[i].search("]")+1)]);
								}
							}
							
							_this.playing--;
						})
						
						for(i=0;i<_this.playList.length;i++){ //加入播放列表
							if(_this.playList[i].id=="Q"+key){
								_this.playList.unshift(_this.playList.splice(i,1)[0]);
								return;
							}
						}
						_this.playList.unshift(r);
					}
				},
				up_lrc:function(){ //歌词更新
					this.nowt=this.$refs["player"].currentTime;
					for(i=this.nowlrcs.length-1;i>=0;i--)
					{
						if(this.nowt>=this.nowlrcs[i][0])
						{
							this.nowlrc=this.nowlrcs[i][1];
							break;
						}
					}
					
					if(typeof(analyser)!="undefined") //更新音量
					{
						this.$refs["player2"].currentTime=this.$refs["player"].currentTime;
						analyser.getByteTimeDomainData(dataArray)
						sum=0;
						for(i=0;i<dataArray.length;i++)sum=dataArray[i]>sum?dataArray[i]:sum;
						//console.log(sum)
						this.nowlevel=sum/10;
					}
					if(this.$refs["player"].duration==this.$refs["player"].currentTime && !this.playing){
						
						this.$refs["player"].currentTime=0;
						this.playNext();
					}
				},
				initau: function(){ //初始化声音转换
					audioCtx = new(window.AudioContext || window.webkitAudioContext)();
					ausource = audioCtx.createMediaElementSource(document.getElementById("player2"));
					analyser = audioCtx.createAnalyser();
					analyser.fftSize=128;
					dataArray = new Uint8Array(analyser.fftSize);
					ausource.connect(analyser);
				},
				playNext: function(){
					//console.log(this.looptype);
					
					if(this.looptype=="顺序"){
						if(this.playList.length){
							this.playList.push(this.playList.shift());
							//console.log(this.playList);
							this.playMusic(this.playList[0].id);
						}
						else{
							this.nowmurl="";
						}
					}
					if(this.looptype=="随机"){
						if(this.playList.length){
							this.playMusic(this.playList[Math.floor(Math.random()*this.playList.length)].id);
						}
						else{
							this.nowmurl="";
						}
					}
					if(this.looptype=="单曲"){
						if(this.playList.length){
							this.playMusic(this.playList[0].id);
						}
						else{
							this.nowmurl="";
						}
					}
				},
				startSearch: function(opt){
					this.type=opt[0];
					this.name=opt[1];
					this.off=0;
					this.search();
				},
				download: function(id){ //下载
					if(id[0]=="C"){
						id=id.slice(1);
						axios.get("https://v1.hitokoto.cn/nm/url/"+id) //获取音乐直链
					.then(function(response){
						if(!response.data.data[0].url){
							
						}
						else{
							window.open(response.data.data[0].url,"_blank");
						}
					})
					}
					
				}
			},
			watch:{
				songList:function(){
					for(i=0;i<this.songList.length;i++){
						this.songList[i]["key"]=i+1;
						this.songList[i]["bgcolor"]="#dff"
					}
				}
			},
			created: function(){
				setInterval(this.up_lrc,100);
			}
		});
		
		Vue.component("music-list",{
			props:["song"],
			template:`
				<div class="alert alert-info"
					:style="{'background-color':song.bgcolor,'border-color':song.bgcolor}">
					<span class="badge badge-pill badge-warning">{{song.key}}</span>
					<span>{{song.name}}</span>
					<span class="badge badge-pill badge-primary" 
						v-for="i in song.artists"  @click="$emit('search',['SONG',i.name])">
						{{i.name}}
					</span>
					<span class="badge badge-pill badge-info"
						@click="$emit('search',['SONG',song.album.name])">
						{{song.album.name}}
					</span>
					<i class="iconfont iconbofangsanjiaoxing" title="播放" @click="$emit('play',song.id)"></i>
					<i class="iconfont iconxiazai" title="下载" @click="$emit('download',song.id)"></i>
				</div>
				`
		});
		
	</script>

</body>
</html>